td.fromOption, td.toOption {
  font-size: 15pt;
  font-family: 'PT Sans', sans-serif;
  font-weight: 100;
}
td.fromOption > span.sl-keyword, td.toOption > span.sl-keyword {
  font-size: 15pt;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}
span.header {
  font-size: 18pt;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}
input {
  font-size: 15pt;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}